@font-face {
  font-family: 'GeistMono-Regular';
  src: url('../fonts/GeistMono-Regular.ttf');
}

/* @font-face {
  font-family: 'GeistMono-SemiBold';
  src: url('../fonts/GeistMono-SemiBold.ttf');
} */

/* @font-face {
  font-family: 'InterTight-Regular';
  src: url('../fonts/InterTight-Regular.ttf');
} */
